[Unit]
Description=The SRS Media Stream Cluster
After=network.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/opt/srs
ExecStart=/opt/srs/objs/srs -c /opt/srs/conf/srs.conf
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
PIDFile=/opt/srs/objs/srs.pid
Restart=on-failure
RestartSec=5s
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
